.cursor-pointer {
    cursor: pointer;
}

.fr-view {
    min-height: 200px;
}

.fr-wrapper + div {
    display: none;
}

BODY {
    background-color: #eee;
    background-image: url(https://media.istockphoto.com/vectors/seamless-vector-school-and-education-background-vector-id610870476);
    background-repeat: repeat;
    background-size: 163px;
}

.reactive-table-options, .reactive-table-filter {
    width: 100%;
    padding: 0;
}

.reactive-table-navigation {
    display: none;
}