.cursor-pointer {
    cursor: pointer;
}

.fr-view {
    min-height: 200px;
}

.fr-wrapper + div {
    display: none;
}

BODY {
    background-color: #eee;
}

.reactive-table-options, .reactive-table-filter {
    float: left !important;
}

.reactive-table-navigation {
    display: none;
}